.module {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #ffffff;
    border: 1px solid #9BA0AF;
    border-radius: 5px;
    margin: 10px auto;
    width: 99%;
}

.module header {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background: #F1F1F4 url('/img/secondary_bar.png') repeat-x;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 38px;
    padding: 5px;
    width: 98.9%;
}

.module footer {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    background: #F1F1F4 url('/img/module_footer_bg.png') repeat-x;
    border-top: 1px solid #9CA1B0;
    height: 32px;
    overflow: hidden;
    padding: 5px;
    width: 98.9%;
}

.module header h3 {
    color: #016dba;
    display: block;
    font-size: large;
    text-align: center;
    width: 100%;
}

.tablesorter {
    margin: -5px 0 0 0;
    width: 100%;
}

.tablesorter thead tr, .tablesorter tfoot tr {
    background: url('/img/table_sorter_header.png') repeat-x;
    cursor: pointer;
    height: 16px;
    line-height: 16px;
    text-align: left;
    text-indent: 10px;
}


.tablesorter tbody tr {
    height: 34px;
    line-height: 34px;
}

.tablesorter td {
    border-bottom: 1px dotted #ccc;
    margin: 0;
    padding: 5px 0;
}

.linkButton {
    background: transparent;
    color: #016dba;
    float: left;
    font-family: Arial;
    font-weight: 700;
    font-size: medium;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.linkButton:hover {
    background: #dae3e8;
    text-decoration: none;
}














